@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Inconsolata", monospace;
  background-color: #eeeeee;
  color: #525252;
}

#title {
  text-align: center;
  margin: 2rem 0 0 0;
}

#title > h1 {
  margin-bottom: 0;
}

#img-div {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  height: auto;
}

img {
  display: block;
  margin: 0 auto;
}

#image {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 10px;
}

#img-caption {
  text-align: center;
  margin-bottom: 0;
  font-size: 0.8rem;
}

#tribute-title {
  font-size: 1rem;
  text-align: center;
  margin: 0;
  padding: 30px 0 0 0;
}

#tribute-info {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

#tribute-info > ul > li {
  padding-top: 30px;
}

ul {
  padding: 0 0 0 20px;
}

.bold {
  font-weight: 700;
}

.bold:not(#tribute-title, p) {
  color: #76abae;
}

#tribute-info > p {
  padding-top: 30px;
  text-align: center;
}

#tribute-info > #quote {
  font-size: 0.8rem;
  text-align: justify;
}

#tribute-link {
  color: #76abae;
}
